# Editors and IDEs
.vscode/*

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Yarn integrity file
.yarn-integrity

# Build directory
build
dist

# Dotenv configuration
.env

.DS_Store

#Lock files
/*.lock
